<!DOCTYPE html>
<html>

<head>
  <title>R6 HUD ADMIN</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--   <iframe allow="autoplay;camera" src="https://vdo.ninja/?view=7fDjacc&label=proba" width="1920" height="1080"></iframe> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="/css/general.css" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>

  <div id="container">

  <h1>Create new team</h1>
  <form method="post" action="/add/team">
    <input name="add_teamname" type="text" placeholder="teamname" required>
    <input name="add_shorthandle" type="text" placeholder="shorthandle" required maxlength="4">
    <input name="add_logo" type="text" placeholder="logo.png" required>

    <button type="submit">Create</button>
  </form>

  <h1>Edit existing team</h1>
  <form method="post" action="/edit/team">
    <select id="edit_team_list" name="edit_team_list">
      <option value=""></option>
      <% teams.forEach(function( eachTeam){ %>
      <option> <%= eachTeam %> </option>
      <% }) %>
    </select>
    <input name="edit_teamname" id="edit_teamname" type="text" placeholder="teamname" required>
    <input name="edit_shorthandle" id="edit_shorthandle" type="text" placeholder="shorthandle" required maxlength="4">
    <input name="edit_logo" id="edit_logo" type="text" placeholder="logo.png" required>

    <button type="submit">Edit</button>
  </form>

  <h1>Delete team</h1>
  <form method="post" action="/delete/team">
    <select id="delete_team_list" name="delete_team_list">
      <option value=""></option>
      <% teams.forEach(function( eachTeam){ %>
      <option> <%= eachTeam %> </option>
      <% }) %>
    </select>

    <button type="submit">Delete</button>
  </form>

  <h1>Create new player</h1>
  <form method="post" action="/add/player">
    <input name="add_nickname" type="text" placeholder="nickname" required>
    <input name="add_fullaname" type="text" placeholder="fullname" required>
    <input name="add_nationality" type="text" placeholder="country code" required>
    <select id="playeradd_team_list" name="playeradd_team_list">
      <option value=""></option>
      <% teams.forEach(function( eachTeam){ %>
      <option> <%= eachTeam %> </option>
      <% }) %>
    </select>
    <input name="add_con_link" type="text" placeholder="join_link" required>
    <input name="add_view_link" type="text" placeholder="view_link" required>
    <input name="add_avatar" type="text" placeholder="player.png" required>
    <button type="submit">Create</button>
  </form>

  <h1>Edit existing player</h1>
  <form method="post" action="/edit/player">
    <select id="playeredit_player_list" name="playeredit_player_list">
      <option value=""></option>
      <% players.forEach(function( eachPlayer){ %>
      <option> <%= eachPlayer %> </option>
      <% }) %>
    </select>
    <input name="edit_nickname" id="edit_nickname" type="text" placeholder="nickname" required>
    <input name="edit_fullname" id="edit_fullname" type="text" placeholder="fullname" required>
    <input name="edit_nationality" id="edit_nationality" type="text" placeholder="country code" required>
    <select id="playeredit_team_list" name="playeredit_team_list">
      <option value=""></option>
      <% teams.forEach(function( eachTeam){ %>
      <option> <%= eachTeam %> </option>
      <% }) %>
    </select>
    <input name="edit_con_link" id="edit_con_link" type="text" placeholder="join_link" required>
    <input name="edit_view_link" id="edit_view_link" type="text" placeholder="view_link" required>
    <input name="edit_avatar" id="edit_avatar" type="text" placeholder="player.png" required>
    <button type="submit">Edit</button>
  </form>

  <h1>Delete player</h1>
  <form method="post" action="/delete/player">
    <select id="delete_player_list" name="delete_player_list">
      <option value=""></option>
      <% players.forEach(function( eachPlayer){ %>
      <option> <%= eachPlayer %> </option>
      <% }) %>
    </select>
    <button type="submit">Delete</button>
  </form>

  </div>

  <div class="linkek">
    <a href="/match_control">GO TO MATCH CONTROL</a>
  </div>


</body>

<script>

$(document).ready(function() {
  console.log($('#playeredit_player_list').children('option').length);
  $("#playeredit_player_list > option").each(function() {
    this.value = this.text;
});


  $('#playeredit_player_list').on('change', function() {
    console.log("selected player: " + $('#playeredit_player_list').val());
    $.ajax({
      url: "/get/edit_player_data",
      type: "POST",
      data: {
        'player': $('#playeredit_player_list').val()
      },
      success: function(data) {
        $('#edit_nickname').val(data[0].nickname);
        $('#edit_fullname').val(data[0].fullname);
        $('#edit_nationality').val(data[0].nationality);
        $('#playeredit_team_list').val(data[0].team_id);
        $('#edit_con_link').val(data[0].con_link);
        $('#edit_view_link').val(data[0].view_link);
        $('#edit_avatar').val(data[0].avatar);
        /*
        $('#edit_nickname').text = data[0].nickname;
        $('#edit_fullname').text = data[0].fullname;
        $('#edit_nationality').text = data[0].nationality;
        $('#playeredit_team_list').text = data[0].team_id;
        $('#edit_avatar').text = data[0].avatar; */
      }
    });
  });

  $('#edit_team_list').on('change', function() {
    console.log("selected team: " + $('#edit_team_list').val());
    $.ajax({
      url: "/get/edit_team_data",
      type: "POST",
      data: {
        'team': $('#edit_team_list').val()
      },
      success: function(data) {
        $('#edit_teamname').val(data[0].teamname);
        $('#edit_shorthandle').val(data[0].shorthandle);
        $('#edit_logo').val(data[0].logo);
      }
    });
  });

});

</script>

</html>
